<div class="row pt-5">
    <div class="col-6">

    </div>
    <div class="col-5">
        <form action="../users/update" method="POST" class="mb-3">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-4">
                    <label for="email" class="col-form-label">First name:</label>
                </div>
                <div class="col-8">
                    <input type="text" id="user[first_name]" name="user[first_name]" class="form-control" aria-labelledby="passwordHelpInline" value=<%=@current_user[:first_name]%>>
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-4">
                    <label for="email" class="col-form-label">Last name:</label>
                </div>
                <div class="col-8">
                    <input type="text" id="email" name="user[last_name]" class="form-control" aria-labelledby="passwordHelpInline"value=<%=@current_user[:last_name]%> > 
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-4">
                    <label for="email" class="col-form-label">Email Address:</label>
                </div>
                <div class="col-8">
                    <input type="text" id="email" name="user[email]" class="form-control" aria-labelledby="passwordHelpInline" value=<%=@current_user[:email]%>>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-4">
                    <label for="inputPassword" class="col-form-label">Password:</label>
                </div>
                <div class="col-8">
                    <input type="password" id="inputPassword" name="user[password]" class="form-control" aria-labelledby="passwordHelpInline">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-4">
                    <label for="inputPassword" class="col-form-label">Confirm Password:</label>
                </div>
                <div class="col-8">
                    <input type="password" id="inputPassword" name="confirm_password" class="form-control" aria-labelledby="passwordHelpInline">
                </div>
            </div>
            <div class="row text-center mt-3">
                    <span id="notice" class="form-text text-danger col">
                    <%= notice %>
                    </span>
            </div>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="submit" value="Update account" class= "btn btn-primary form-control">
        </form>
        <div id="errors" class="text-danger">
            <% if @errors %>
                <% @errors.each do |data|%>
                <p><%= data %> </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>